.t-light.c-chat {
    border: 1px solid black;
    background-color: white;
    padding: 6px 10px;

    transition-property: margin;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.t-light .c-chat__input {
    border: none;
}

.t-light .c-chat__messages {
    border-bottom: 1px solid #ccc;
}

.c-chat__submit {
    border: 0;
}

.t-light .c-chat__submit {
    color: #fff;
    background-color: #28a745;

    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.t-light .c-chat__submit:hover {
    background-color: #27a56c;
}

.t-light .c-chat__visibility-btn {
    border: none;
    padding: 1px 6px;
    color: white;
    background-color: #2fc681;

    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.t-light .c-chat__visibility-btn:hover {
    background-color: #1e7e34;
}
